<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<filter>
		<filter-name>PubFilter</filter-name>
		<filter-class>com.haigest.core.filter.PubFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PubFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	<listener>
        <listener-class>com.haigest.core.mvc.URLMappingCollection</listener-class>
    </listener>        
    <servlet>
        <servlet-name>ServletCenter</servlet-name>
        <servlet-class>com.haigest.core.mvc.ServletCenter</servlet-class>        
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCenter</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>	
</web-app>